.profile__user{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
}
@media screen and (max-width: 675px){
    .profile__user{
        flex-direction: column;
        position: relative;
    }
}