.card{
    width: 282px;
    height: 361px;
    background-color: #FFFFFF;
    color: #000000;
    overflow: hidden;
    border-radius: 3%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    margin: 0;
}