
.logo{
    width: 142px;
    height: 33px;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(../../images/logo.svg);
    margin: 0;
}
@media screen and (max-width: 900px) {
    .logo{
        margin-left: 27px;
    }
}

@media screen and (max-width: 425px) {
    .logo{
        width: 103.74px;
        height: 24.4px;
        margin-left: 27px;
    }
}
